<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- productmapper를 가리키는 것 -->
<mapper namespace="co.micol.notice.product.service.ProductMapper">
	<select id="productSelectList" resultType="co.micol.notice.product.service.ProductVO">
		SELECT * FROM product
	</select>
	<select id="productSelect" resultType="co.micol.notice.product.service.ProductVO">
		SELECT * FROM product WHERE product_id = #{productId}
	</select>
	<select id="productInsert">
		INSERT INTO product VALUES(#{productId}, #{productName}, #{productImage}, #{productDir})
	</select>
	<select id="productUpdate">

	</select>
	<select id="productDelete">

	</select>
</mapper>